.footer {
    margin: 0 auto;
    margin-top: 200px;
    width: 1440px;
    height: 394px;
    background: #1D1C1E;
    padding-top: 144px;


    &--box-top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .line {
            display: none;
            width: 327px;
            height: 1px;
            margin: 0 auto;
            border: 1px solid #fff;
            opacity: 0.1;
            margin-top: 36px;
        }

        &--ul {
            display: flex;
            // gap: 42px;
            justify-content: space-between;
            width: 40%;


            &--li--link {
                font-family: 'Jost';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 14px;
                letter-spacing: 2px;
                color: #FFFFFF;

                &:hover {
                    text-decoration: underline
                }

            }
        }
    }

    &--horizon-line {
        width: 1111px;
        height: 1px;
        margin: 0 auto;
        border: 1px solid #fff;
        opacity: 0.1;
        margin-top: 36px;



    }

    &--box-bottom {
        margin-top: 31px;
        display: flex;
        justify-content: space-between;

        &--left {
            display: flex;


            &--card--ul--li {
                width: 350px;


                &--link {
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 26px;
                    color: #FFFFFF;
                    mix-blend-mode: normal;
                    opacity: 0.5;
                }


            }




        }


        &--right {

            &--ul {
                display: flex;
                margin-top: 50px;
                gap: 16px;
                margin-bottom: 72px;

                &--li {

                    &--link {

                        &--img {
                            &:hover {
                                border-radius: 50%;

                                background: #FFAD9B;
                            }
                        }


                    }
                }
            }

        }


    }

}





@media screen and (max-width: 768px) {





    .footer {
        margin: 0 auto;
        margin-top: 350px;
        width: 768px;
        height: 443px;
        background: #1D1C1E;
        padding-top: 144px;

        &--box-top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .line {
                display: none;
                width: 327px;
                height: 1px;
                margin: 0 auto;
                border: 1px solid #fff;
                opacity: 0.1;
                margin-top: 36px;
            }

            &--ul {
                display: flex;

                justify-content: space-between;
                width: 60%;


                &--li--link {
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 14px;
                    letter-spacing: 2px;
                    color: #FFFFFF;

                    &:hover {
                        text-decoration: underline
                    }

                }
            }
        }

        &--horizon-line {
            width: 690px;
            height: 1px;
            margin: 0 auto;
            border: 1px solid #fff;
            opacity: 0.1;
            margin-top: 36px;



        }

        &--box-bottom {
            margin-top: 31px;
            display: flex;
            justify-content: space-between;

            &--left {
                display: flex;

                .footer--box-bottom--left--card--ul {
                    padding: 0;
                    margin-top: 31px;
                    margin-bottom: 80px;
                }


                &--card--ul--li {
                    width: 223px;



                    &--link {
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 26px;
                        color: #FFFFFF;
                        mix-blend-mode: normal;
                        opacity: 0.5;
                    }


                }




            }


            &--right {

                &--ul {
                    display: flex;
                    margin-top: 85px;

                    margin-bottom: 72px;

                    &--li {

                        &--link {

                            &--img {
                                &:hover {
                                    border-radius: 50%;

                                    background: #FFAD9B;
                                }
                            }


                        }
                    }
                }

            }


        }

    }










}




@media screen and (max-width: 375px) {





    .footer {
        margin: 0 auto;
        margin-top: 960px;
        width: 375px;
        height: 815px;
        background: #1D1C1E;
        padding-top: 144px;

        &--box-top {
            margin-top: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .line {
                display: inline-block;
                width: 327px;
                height: 1px;
                margin: 0 auto;
                border: 1px solid #fff;
                opacity: 0.1;
                margin-top: 36px;
            }

            &--ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 60%;


                &--li--link {
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 14px;
                    letter-spacing: 2px;
                    color: #FFFFFF;

                    &:hover {
                        text-decoration: underline
                    }

                }
            }
        }

        &--horizon-line {
            display: none;
            width: 327px;
            height: 1px;
            margin: 0 auto;
            border: 1px solid #fff;
            opacity: 0.1;
            margin-top: 36px;



        }

        &--box-bottom {
            margin-top: 31px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &--left {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 40px;


                .footer--box-bottom--left--card--ul {

                    padding: 0;
                    margin-top: 0;
                    margin-bottom: 0;
                    margin-left: 110px;
                }


                &--card--ul--li {
                    width: 327px;



                    &--link {
                        width: 327px;
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 26px;
                        color: #FFFFFF;
                        mix-blend-mode: normal;
                        opacity: 0.5;
                        text-align: center;
                    }


                }




            }


            &--right {

                &--ul {
                    display: flex;

                    margin: 40px 0 64px 90px;

                    &--li {

                        &--link {

                            &--img {
                                &:hover {
                                    border-radius: 50%;

                                    background: #FFAD9B;
                                }
                            }


                        }
                    }
                }

            }


        }

    }










}